@charset "utf-8";
/* CSS document */

/* ma première feuille de style externe */

/* des styles simples pour visualiser les div */

.fond_orange {
    background: linear-gradient( salmon, greenyellow)
}


.fond_rouge {
    background: linear-gradient( turquoise, wheat,#DB074D)
}

.fond_vert {
    background: greenyellow;
}

/* .fond_bleu {
    background: linear-gradient( salmon, royalblue, white) 
} */
.fond_jaune {
background: repeating-linear-gradient( chartreuse 10%, yellowgreen 40%, yellow 50%) 
}

/* les styles de la page */

body {
    margin: auto;
    background: radial-gradient( palevioletred,#CB0AFA, #FF8786 );
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* l'emballage de toute la page */
#wrapper{ 
    width: 1200px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    
}
/* le haut de page */
header {
  /*   background:  url(../img/panorama1.jpg) center center no-repeat; */
  background:  url(../img/panorama1.jpg) center center no-repeat, linear-gradient(skyblue, springgreen, white);
    height: 472px;
    border: 5px solid white;
}
header h1 {
    background-color: bisque;
    text-transform: uppercase;
    width: 20%;
    text-align: center;
    margin-left: 10%;
}
header h1 a {
    text-decoration: none;
    color: #FF8786;
}
header h1 a:hover {
    background-color: aqua;
    color: red;
}
/*  nav ul li {
     list-style-type: none;
     list-style-image: url(../img/globe_fleche.png);
 }  */  

/*   ou créer id #pasdepuces {
     list-style-type: none;

 } */
/* le contenu principal */
#nchild tr:nth-child(2n+1) {
    background: lightseagreen;
    color: azure;
}

#puceballon {
    list-style-type: none;
    list-style-image: url(../img/globe_fleche.png)
}

#main {
    width: 880px;
    float: right;
    padding: 10px;
}
/* la classe de remettre tout dans le flux normal */
.clear {
    clear: both;

}
    /* le cote de la page */
    aside {
        width: 280px;
        float: left;
        padding: 10px
        
    
}
/* le pied de la page */

footer {
    height: 150px;
    border: 5px solid #0C40EB;
    margin-bottom: 10px;
}
/* le formulaire  sur le CSS */
form {
    background: teal;
    padding: 10px;
}

fieldset{
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid seagreen;
    width: 80%;
    font-style: italic;

}
legend{
    font-weight: 800;
    color: slategrey;
    

}
label{
    background-color: skyblue;
    color: teal;
    margin-top: 10px;
    display: block;/*  display:block permet d'aller à la ligne automatiquement */
    width: 300px;
    
}
label.inline {
    /* tous les labels qui ont une class inline */
    display: inline;
    margin-right: 70px;
}
input, textarea, select {
    /* pour styler plusieurs elements et leur donner des attributs communs */
    border: 1px solid springgreen;
    padding: 3px;
    box-shadow: 2px 5px 2px #0C40EB;
    margin-top: 10px;
}
select {
    margin-top: 10px;

}

/* le tableau */
table{
    border-collapse: collapse; /* fusillone les bordures stylées ci-après */
}

table,th,td {
    border: 1px solid wheat;
}
th,td {
    padding: 5px;
}
tr:hover { /* une pseudo class : hover pour passage de courseur */
    background-color: yellowgreen;
}
th, tfoot {
    text-align: left;
    background: orchid;
    color: teal;

}

caption {
    caption-side: bottom;
    border: 3px solid;
    color: #355DFA;
    padding: 12px;
    text-transform: lowercase;


}
/* différentes styles de bordures */
.filetgauche { /* un filet en haut a gauche */
    border-left: 6px solid blueviolet;
    border-bottom: 10px darkmagenta solid;
}
.cartouche { /* un essai de bordure avec les coins arrondis */
border: 5px solid rgb(21, 11, 165);
border-radius: 50px;
padding: 25px;
}
/* les pseudo class */
/* quand le lien n'est pas visité  */
a {
    text-decoration: none;
}
a:link {
    color: red;
}
/* quand le lien a été  visité */
a:visited {
    color: #0C40EB;
}
/* au survol de la souris je mets un fond de couleur et je souligne les liens */
a:hover {
    color: white;
    background: green;
    text-decoration: underline;
}
/* ici pour l' astuce au survol dans la page texte */
#survol p {
    display: none;
    background-color: aqua;
    padding: 20px;
}
#survol:hover p {
    display: block ;
}
