@charset "utf-8";
/* CSS document */

/* ma première feuille de style externe */

/* des styles simples pour visualiser les div */

.fond_orange {
    background: salmon;
}

.fond_rouge {
    background: rosybrown;
}

.fond_vert {
    background: greenyellow;
}

.fond_bleu {
    background: royalblue;
}
.fond_jaune {
    background: yellow;
}

/* les styles de la page */

body {
    margin: auto;
    background-color: olivedrab;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* l'emballage de toute la page */
#wrapper{ 
    width: 1000px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    
}
/* le haut de page */
header {
    background:  url(../img/panorama1.jpg) center center no-repeat;
    height: 472px;
    border: 5px solid white;
}
    
/* le contenu principal */
#main {
    width: 680px;
    float: right;
    padding: 10px;
}
/* la classe de remettre tout dans le flux normal */
.clear {
    clear: both;

}
    /* le cote de la page */
    aside {
        width: 280px;
        float: left;
        padding: 10px
        
    
}
/* le pied de la page */

footer {
    height: 230px;
    border: 5px solid salmon;
}
/* le formulaire  sur le CSS */
form {
    background: wheat;
    padding: 10px;
}

fieldset{
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid seagreen;
    width: 80%;

}
legend{
    font-weight: 800;
    color: slategrey;

}
label{
    background-color: skyblue;
    color: teal;
    margin-top: 10px;
    display: block;/*  display:block permet d'aller à la ligne automatiquement */
    width: 300px;
}
label.inline {
    /* tous les labels qui ont une class inline */
    display: inline;
    margin-right: 70px;
}
input, textarea, select {
    /* pour styler plusieurs elements et leur donner des attributs communs */
    border: 1px solid springgreen;
    padding: 3px;
    box-shadow: 2px 5px 2px sienna;
    margin-top: 10px;
}
select {
    margin-top: 10px;
}

