@charset "utf-8";
/* CSS document */

/* ma première feuille de style externe */

/* des styles simples pour visualiser les div */

.fond_orange {
    background: orange;
}

.fond_rouge {
    background: rosybrown;
}

.fond_vert {
    background: greenyellow;
}

.fond_bleu {
    background: royalblue;
}
.fond_jaune {
    background: yellow;
}

/* les styles de la page */

body {
    margin: auto;
    background-color: olivedrab;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* l'emballage de toute la page */
#wrapper{ 
    width: 1000px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    
}
/* le haut de page */
header {
    background:  url(../img/panorama1.jpg) center center no-repeat;
    height: 472px;
    border: 5px solid white;
}
    
/* le contenu principal */
#main {
    width: 680px;
    float: right;
    padding: 10px;
}
/* la classe de remettre tout dans le flux normal */
.clear {
    clear: both;

}
    /* le cote de la page */
    aside {
        width: 280px;
        float: left;
        padding: 10px
        
    
}
/* le pied de la page */

footer {
    height: 230px;
    border: 5px solid peru;
}

