@charset "utf-8";
/* CSS document */
body {
    background: rgb(235, 116, 116);

}
.couleur_une {
    background: rgb(34, 34, 250);
}
.couleur_deux {
    background: rgb(187, 245, 72);
}
.change {
    border: 2px solid wheat;
}